.content{
    background: url(../images/gym5.jpeg);
    margin: 0px;
    padding: 0px;
    background-repeat: no-repeat;
    background-size: 115%;
}
.heading{
     font-size: 36px;;
     color: cadetblue;
     text-align: center;
    margin-bottom: 10px;
}
.sub-heading{
    font-size: 18px;
    color: aqua;
    text-align: center;
    margin-bottom: 30px;
    opacity: 0.8;
}

.section{
    margin-bottom: 40px;
    text-align: center;
    background: rgba(167, 105, 105, 0.7);
    padding: 25px;
    border-radius: 15px;
    border: 1px solid #ff4757;
}

.section h2{
    margin-bottom: 10px;
    text-align: center;
    color: rgb(37, 49, 45);
}

.section p{
    font-size: 15px;
    color: rgb(224, 234, 235);
    text-align: center;
    line-height: 1.6;
}

.trainer-box{
    display: flex;
    justify-content: center;
    gap: 25px;
    margin-top: 20px;
    flex-wrap: wrap;
    color: rgb(2, 2, 20);
}

.trainer{
    width: 230px;
    padding: 15px;
    border: 1px solid #fff;
    border-radius: 10px;
    background: rgba(255,255,255,0.1);
}

.trainer img{
    width: 100%;
    border-radius: 10px;
    height: 180px;
    object-fit: cover;
}

.trainer-name{
    font-size: 18px;
    color: rgb(1, 1, 4);
    margin-top: 10px;
}

.trainer-text{
    font-size: 13px;
    color: #ff4757;
    opacity: 0.8;
}

.footer{
    text-align: center;
    padding: 20px 0;
    opacity: 0.7;
    margin-top: 40px;
    color: white;
}