
body{
    font-family: 'Courier New', Courier, monospace ;
    color: white;
    margin: 0px;
    padding: 0px;
    background: url(../images/gym3.jpeg);
    background-repeat: no-repeat;
    background-size: 115%;
}
.plan-box{
    text-align: center;
    justify-content: center;
    display: flex;
    width: 294px;
    padding: 5px;
    border: 4px solid rgb(169, 54, 54);
    margin: 10px auto;
    font-size: 25px;
    border-radius: 5px;
    opacity: 100%;
}
.h1{
    text-align: center;
    justify-content: center;
    display: block;
    width: 294px;
    padding: 5px;
    border: 2px solid black;
    margin: 10px auto;
    font-size: 25px;
    border-radius: 5px;
}
.content{
    color: black;
    font-size:30px;
}
.title{
    text-align: center;
    justify-content: center;
    display: block;
    width: 294px;
    padding: 5px;
    border: 8px solid black;
    margin: 10px auto;
    font-size: 25px;
    border-radius: 5px;
    color: rgb(165, 7, 7);
    font-weight: bold;
}
